body,html {
  height: 100%;
}

.parallax {
  background-image: url("/images/home-bg.jpg");

  height: 1024px;

  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-experience {
  background-image: url("/images/experience-bg.jpg");

  height: 1024px;

  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-text {
  background-color: #d2b48c;
}

.navbar-custom {
  background-color: #4c4442;
}

.navbar-custom .navbar-nav .nav-item .nav-link {
  color: #d2b48c;
}

.fab .fa-jedi-order{
  color: #d2b48c;
}

.title-font1 {
  font-family: 'Ranga', cursive;
}

.title-font2 {
  font-family: 'Roboto', sans-serif;
  color: #FED49C;
}

.picture {
  width: 60%; 
  height: 100%;

  border: 5px solid #FED49C;
}