body,html {
  height: 100%;
}

.parallax {
  background-image: url("/images/home-bg.jpg");

  height: 1024px;

  /*background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/
}

.parallax-project {
  background-image: url("/images/home-bg.jpg");

  height: 1024px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-experience {
  background-image: url("/images/experience-bg.jpg");

  height: 1024px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-brand {
  background-color: #d2b48c;
}

.navbar-custom {
  background-color: #4c4442;
}

.navbar-custom .navbar-nav .nav-item .nav-link {
  color: #d2b48c;
}

.fab .fa-jedi-order{
  color: #d2b48c;
}
