body,html {
  height: 100%;
}

.parallax {
  background-image: url("/images/home-bg.jpg");

  /*height: 1024px;*/

  background-size: auto;
}

.parallax-experience {
  background-image: url("/images/experience-bg.jpg");

  /*height: 1024px;*/

  background-size: auto;
}

.navbar-text {
  background-color: #d2b48c;
}

.navbar-custom {
  background-color: #4c4442;
}

.navbar-custom .navbar-nav .nav-item .nav-link {
  color: #d2b48c;
}

.fab .fa-jedi-order{
  color: #d2b48c;
}
