body,html {
  height: 100%;
  scroll-behavior: smooth;
}
/*Background for home page needs to change name*/
.parallax {
  background-image: url("/images/home-bg.jpg");

  height: 1024px;

  background-repeat: no-repeat;
  background-size: cover;
}
/*Background for work experience page needs to change name*/
.parallax-experience {
  background-image: url("/images/experience-bg.jpg");

  height: 1024px;

  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-text {
  background-color: #d2b48c;
}

.navbar-custom {
  background-color: #331606;
}

.navbar-custom .navbar-nav .nav-item .nav-link {
  color: #d2b48c;
}

.navbar-brand {
  color: #d2b48c;
}

#navbar {
  top: -60px;
}
/*Logo*/
.i{
  height: 100%;
  width: 100%;
  color: #d2b48c;
}
/*First page font*/
.title-font1 {
  font-family: 'Ranga', cursive;
}
/*First page font*/
.title-font2 {
  font-family: 'Roboto', sans-serif;
  color: #FED49C;
}
/*First page font*/
.title-font3 {
  font-family: 'Roboto', sans-serif;
  color: #331606;
}
/*About Me page pictures*/
.picture {
  width: 100%; 
  height: 80%;

  border: 5px solid #FED49C;
}
.image {
  position: relative;
  width:100%; 
  height:450px;
}
/*Projects Page image hover*/
.image:hover .img__description{
  visibility: visible;
  opacity: 1;
}

.img__description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.line {
  border: 2px solid #d2b48c;
}

.topline {
  border: 2px solid #FED49C;
}

.aboutline {
  border: 1px solid #4c4442
}

.roboto {
  font-family: 'Roboto', sans-serif;
}